body {
    font-family: 'Montserrat', sans-serif;
    background: url(../back.png) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.button>div {
    color: #fff;
    font-size: 25px;
    padding-bottom: 20px;
}

.btn {
    padding: 10px 60px;
    margin: 0 auto;
    font-size: 35px;
    font-family: "Montserrat";
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
}

.kom {
    font-size: 35px;
    font-family: "Montserrat";
    margin: 0 auto;
    color: #fff;
    width: 100%;
}

.opros {
    margin: 0 auto;
}

p {
    border: 3px solid #fff;

}

.content {
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.vars1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    padding-top: 30px
}

.vars2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: #fff;
    border: .5px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
}
