body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1080' height='2400' preserveAspectRatio='none' viewBox='0 0 1080 2400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1123%26quot%3b)' fill='none'%3e%3crect width='1080' height='2400' x='0' y='0' fill='rgba(79%2c 6%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c656.589C123.358%2c649.225%2c175.562%2c492.862%2c257.019%2c399.93C315.821%2c332.844%2c357.639%2c259.189%2c410.995%2c187.695C481.91%2c92.673%2c616.083%2c28.939%2c622.255%2c-89.467C628.351%2c-206.406%2c518.499%2c-294.352%2c440.684%2c-381.855C363.775%2c-468.339%2c285.927%2c-563.076%2c174.207%2c-593.295C63.332%2c-623.285%2c-51.181%2c-581.58%2c-159.815%2c-544.281C-264.257%2c-508.422%2c-377.496%2c-472.459%2c-440.951%2c-382.086C-502.635%2c-294.235%2c-475.529%2c-176.808%2c-492.284%2c-70.78C-509.338%2c37.144%2c-583.253%2c146.281%2c-540.322%2c246.757C-497.354%2c347.32%2c-364.656%2c365.75%2c-277.526%2c431.838C-180.722%2c505.263%2c-121.284%2c663.829%2c0%2c656.589' fill='%233e0525'%3e%3c/path%3e%3cpath d='M1080 3277.312C1292.021 3327.648 1512.62 3471.548 1711.7240000000002 3382.982 1909.9479999999999 3294.808 1977.827 3047.878 2053.16 2844.427 2124.136 2652.741 2173.6189999999997 2448.847 2131.688 2248.79 2091.09 2055.094 1946.6889999999999 1910.546 1824.75 1754.67 1696.129 1590.252 1595.635 1383.481 1399.299 1312.567 1199.951 1240.565 984.486 1322.63 779.6800000000001 1377.205 569.912 1433.103 329.82899999999995 1463.0230000000001 195.29899999999998 1633.402 61.793000000000006 1802.484 84.75400000000002 2041.511 85.04200000000003 2256.947 85.29600000000005 2446.688 97.73500000000001 2641.527 196.865 2803.314 290.46799999999996 2956.08 457.66700000000003 3038.005 615.528 3122.733 762.273 3201.494 917.958 3238.841 1080 3277.312' fill='%23600739'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1123'%3e%3crect width='1080' height='2400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.button>div {
    color: #fff;
    font-size: 25px;
    padding-bottom: 20px;
}

.btn {
    padding: 10px 60px;
    margin: 0 auto;
    font-size: 35px;
    font-family: "Montserrat";
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
}

.kom {
    font-size: 35px;
    font-family: "Montserrat";
    margin: 0 auto;
    color: #fff;
}

.opros {
    margin: 0 auto;
}

p {
    border: 3px solid #fff;

}

.content {
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.vars1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    padding-top: 30px
}

.vars2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: #fff;
    border: .5px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
}